.modal.fade(id='loader' tabindex='-1' role='dialog' data-backdrop='static' data-keyboard='false')
    .modal-dialog.modal-dialog-centered.modal-sm(role='document')
        .modal-content(style='background: transparent; border: none')
            .modal-body
                .card
                    .card-body.text-center.pr-0.pl-0
                            .spinner-border.text-primary.mb-2(role='status')
                            div
                                p.mb-0#loader-text.text-dark Loading...