.modal.fade(id='progress' tabindex='-1' role='dialog' data-backdrop='static' data-keyboard='false')
    .modal-dialog.modal-dialog-centered.modal-sm(role='document')
        .modal-content(style='background: transparent; border: none')
            .modal-body
                .card 
                    .card-body.text-dark.text-center 
                        p.mb-2
                            strong#progress-text Uploading...
                        .progress(style='height: 20px;')
                            .progress-bar(role='progressbar' style='width: 25%;') 25%

                            