.sidebar.bg-primary
    .sidebar-toggler--close
        i.fas.fa-times
    .sidebar-menu
        li#sidebar__homeBtn.active
            i.fas.fa-home.mr-2 
            | Home
        li#sidebar__albumBtn
            i.fas.fa-compact-disc.mr-2 
            | Albums
        li#sidebar__accountBtn
            i.fas.fa-user-alt.mr-2
            | Profile
        li.logoutBtn
            i.fas.fa-sign-out-alt.mr-2 
            | Logout

.sidebar-toggler--open.mb-2
    i.fas.fa-bars


