extends authCardBase 

block authHeaderIcon
    i.fas.fa-user-plus.fa-3x.m-1

block authContent 
    h1.auth__card-form--h1.cmb-2 Finish your registration
    p.small One last step before you start your musical journey with us.
    form.form__signup(data-uid=`${tempUserId}` data-vtkn=`${verificationToken}`)
        .form-group.mt-2.mb-2 
            label(for='name') Full Name
            input.form-control(type='text' id="name" required)
        .form-group.mb-2 
            label(for='pass') Password 
                small.text-muted.ml-1 (Min. 8 characters)
            input.form-control.auth__card-input(type='password' id="pass" required)  
            
        .form-group.mb-4 
            label(for='cpass') Confirm Password 
            input.form-control.auth__card-input(type='password' id="cpass" required)   
        
        input.btn.btn-block.cbg-primary.auth__card-btn.form__signup-btn(type='submit' value='Submit')
